<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (kindOfDay === 'Wednesday') { %>
    <h1 style="color: red">Title <%= kindOfDay %>!</h1>
    <% } else { %>
    <h1 style="color: purple">Title <%= kindOfDay %>!</h1>
    <% } %>
  </body>
</html>
