<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (kindOfDay === 'Wednesday') { %>
    <h1 style="color: red">Title <%= kindOfDay %>!</h1>
    <% } else { %>
    <h1 style="color: purple">Title <%= kindOfDay %>!</h1>
    <% } %>
    <ul>
      <li>test</li>
      <% for (let i = 0; i < newItem.length; i++) { %>
      <li><%= newItem[i]%></li>
      <% } %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="item" />
      <button type="su">Valider</button>
    </form>
    <h3><%= newItem %></h3>
    <h2>title</h2>
  </body>
</html>
